*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

body {
    background-color: #f6f8f9;
}

.container {
    width: 70%;
    margin: auto;
    padding-top: 40px;
}

.btn {
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: lightgray;
    color: lightgray;
    background-color: white;
    width: 100px;
}

.white-area {
    padding: 20px;
    background-color: white;
    margin-bottom: 5px;
}

/* Header */

.logo-bar {
    background-color: white;
    padding: 20px;
    
}

.head-container {
    width: 95%;
    margin:auto;
}

.name {
    font-weight: 800;
    font-size: 50px;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

/* Main */

.blue-btn {
    color: white;
    background-color: #47adf1;
    width: auto;
}

